* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #202020;
}

/* ------------ Navbar ------------ */
a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  display: block;
  padding: 8px;
  color: #fff;
}

a:hover {
  background-color: #696969;
}

.content {
  width: 100%;
  position: relative;
  background-size: contain;
}

/* ------------ Kitchen Background Image ------------*/
img {
  width: 100%;
  height: auto;
}

li {
  display: inline;
  float: right;
  display: block;
  padding: 1rem;
}

.centered {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
